* {
	margin: auto;
	padding:auto;
}

.item_back {
	
	background-color: black;
	
}

.topnav {
	
	text-align: center;
	margin-top: -12vh;
	margin-right: 20vw;
	text-decoration: none; 

	
	
	
}

.item_tekst10 {
	
	text-align: center;
	margin-top: 10vh;
	
	
	
	
	
}
.item_tekst10 h1 {
	
color: blue;
	
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	
	
	
	
	
}
.item_tekst10 p {
	
font-weight: bold;
	
	
	
	
}
.topnav a {
	
	color: white;
  text-decoration: none;
	margin-left: 4vw;
	font-size: 30px;
	font-family: 'Pacifico', cursive;
}
.topnav a:hover {
  color: blue;
}

.item_button button {
	
  border-radius: 15%;
  color: black;
  font-size: 25px;
  border: none;
  cursor: pointer;
  margin-left: 80vw;
  margin-top: -9vh;
  position: absolute;
  background-color: green;
}

.item_foto1{
	 background-image: url("../images/rocket.jpg");
	margin-left: 0.2vw;
	margin-top: 6vh;
	width: 70%;
	height: 83vh;
	background-size: cover;
}

.item_text1 {
	position: absolute;
	color: white;
	margin-left: 0.2vw;
	bottom: 0;	
	background-color: black;
	width: 69.5%;
	opacity: 0.5;			
			
	
}


.item_foto2 img{
	width: 29%;
	height: 42vh;
	margin-top: -127vh;
	
}


.item_foto3 img {
	width: 29%;
	height: 40vh;
	margin-top: -50vh;
	
	
}


.row1 img {
	
	margin-left: 70vw;
	
	
}


.item_video1 video {
	width: 50%;
	height:50%;
	margin-left: 25vw;
	
	
}



footer {
  background-color: #777;
  padding: 10px;
  text-align: left;
  color: white;
  Font-size: 20px;
  margin-top: 46vh;
  
}



@media (min-width: 321px)and (max-width: 767px) {
	* {margin: auto;
	padding: auto;}
	
	.item_foto1  {
	display: none;
}
	.item_foto2  {
	display: none;
	
}

.item_foto3 {
width:350%;
height: 10%;
position: absolute;
margin-left: -70vw;
margin-top: 40vh;
	
	
}
.item_text1 {
	display: none;			
			
	
}
	.item_back img{
	width:40%;
	height: 40%;
	background-color: black;
	
}
.item_button button {
	
  border-radius: 15%;
  color: black;
  font-size: 25px;
  border: none;
  cursor: pointer;
  margin-left: 42vw;
  margin-top: -24vh;
  position: absolute;
  background-color: green;
}

.topnav {
	
	text-align: center;
	margin-top: -1vh;
	margin-right: 20vw;
	text-decoration: none; 

	
	
	
}
.topnav a {
	
	color: blue;
  text-decoration: none;
	margin-left: 4vw;
	font-size: 30px;
	font-family: 'Pacifico', cursive;
}
.item_video1 video {
	margin-top: 40vh;
	
	
}

	
}